* {
	padding: 0;
	margin: 0;
}
canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
	border: 3px solid black;
}

p {
	text-align: left;
	size: 0.9;
}
p.answer {
	text-align-last: left;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
}
input {
	margin: 0.5em;
}
