* {
	padding: 0;
	margin: 0;
}
canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
	border: 3px solid black;
}

div {	
	justify-content: left;
}

p {
	size: 0.9;
}

table {
	width: 80%;	
}

p.consent {
	width: 80%;
	margin: auto;
	justify-content: left;
	size: 0.7;
}


p.answer {
	text-align: center;
	text-align-last: center;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
}

p.image {
	justify-content: center;
}

p.description {
	color: #000000;	
}

p.description em_black {
	color: #000000;
	font-weight: bolder;
}

p.description em_blue {
	color: #0000FF;
	font-weight: bolder;
}

p.description em_red {
	color: #FF0000;
	font-weight: bolder;
}

p.inputQ  {
	text-align: right;
	color: #000000;
}

p.input  {
	text-align: left;
	color: #000000;
}

td {
	text-align: left;
}