* {
	padding: 0;
	margin: 0;
}
canvas {
	background: #eee;
	display: block;
	margin: 0 auto;
	border: 3px solid black;
}

p {
	text-align: center;
	size: 0.9;
}
p.answer {
	text-align: center;
	text-align-last: center;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
}

p.image {
	justify-content: center;
}

img {
	height: 25em;
}

input {
	margin: 0.5em;
}
